
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
    background-image: linear-gradient(to right bottom, #53cde2, #71d4e6, #8adceb, #a1e3ef, #b6eaf4, #c2eef6, #cdf1f9, #d8f5fb, #ddf6fb, #e3f7fc, #e8f8fc, #edf9fc);
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.navbar {
    background-color: #005792;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom: 2rem;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50x;
}

#navbar__logo {
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    transition: all 0.3s ease 0s;
}

.navbar__links:hover{
    color: #0088a9;
}

.main__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    color: #005792;
}
