<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chromSort</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="" id="navbar__logo">chromSort</a>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="" class="navbar__links">
                        Projects
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__links">
                        About
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__links">
                        Explore
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main__container">
        <h1>Your Playlists</h1>
        <ul id="playlists"></ul>
    </div>

    <div id="feed">
        <div>
            <div class="card card-text-list ">
                <div class="cardBody">
                    <div class="textlistView">
                        <div class="header flex-container" style="align-items: flex-end;">
                            <div class="titleSection" style="flex-grow: 5;">
                                <h1>Your Playlists
                                    <span class="refreshButton" tooltip="Not seeing what you expect? Try clicking here to refresh." tooltip-position="right">
                                        <img src="/static/media/icon-refresh-bk.61770d7d.svg" alt="Refresh"></span>
                                    </h1>
                                </div>
                                <div class="selectLight" style="margin: 0px 0px 10px 16px;">
                                    <input class="search-bar" placeholder="Filter" type="text" value="">
                                </div>
                            </div>
                            <div class="info vertical-space-below-sm">
                                <span role="link" class="view-link time-toggle ">All</span>
                                    <span role="link" class="view-link time-toggle time-toggle-selected">Playlists You Own</span>
                                    <span role="link" class="view-link time-toggle ">Playlists You Follow</span>
                                </div>
                                <div class="body">
                                    <div class="fade">

                                    </div>
                                    <div class="innerScroll">
                                        <div style="column-gap: 16px; column-count: 3;">
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

