<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chromSort</title>

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="" id="navbar__logo">chromSort</a>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="" class="navbar__links">
                        Projects
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__links">
                        About
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__links">
                        Explore
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main__container">
        <div class="playlist__text">
            <h1>Your Playlists</h1>
        </div>
        <div id="feed">
            <div class="playlist__buttons">
                <button>All Playlists</button>
                <button>Your Playlists</button>
                <button>Playlists You Follow</button>
            </div>
            <div id="playlists__section">
                <div id="playlists__list">
                    <ul id="playlists"></ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

