<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chromSort</title>

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="" id="navbar__logo">chromSort</a>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="" class="navbar__links">
                        Projects
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__links">
                        About
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__links">
                        Explore
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main__container">

        <div class="playlist__text">
            <h1>Your Playlists</h1>
        </div>
        
        <div id="feed">
            <div class="playlist__buttons">
                <button>All Playlists</button>
                <button>Your Playlists</button>
                <button>Playlists You Follow</button>
            </div>
            <div id="playlists__section">
                <div id="playlists__list">
                    <div id="playlists"></div>
                </div>
            </div>
        </div>

        <div id="playlist__card">
            <div class="header">
                <div id="playlist__cover"></div>
                <div id="title__section">
                    <div class="playlist__name"></div>
                    <div class="playlist__description"></div>
                    <div id="sortButton__container">
                        <button id="sortButton">Sort</button>
                    </div>
                </div>
            </div>
            <div id="track__section">
                <div id="playlist__tracks">
                    <div></div>
                </div>
            </div>
        </div>

        <div id="chromSorted">
            <div class="header">
                <div class="playlist__cover"></div>
                <div class="title__section">
                    <div class="playlist__name"></div>
                    <div class="playlist__description"></div>
                </div>
            </div>
            <div id="sorted_track_section">
                <div id="sorted__tracks">
                    <div></div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer__container">
            <ul class="footer__menu">
                <li class="navbar__item">
                    <a href="https://www.linkedin.com/in/folivei2/" class="footer__links">
                        LinkedIn
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="https://github.com/oliveiramnando" class="footer__links">
                        Github
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="footer__links">
                        Other
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

